<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EVELIN</title>

    <!-- Bootstrap Core CSS -->
    <link href=" css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=" css/main.css" rel="stylesheet">

    <!-- Tag Input-->
    <link href=" css/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- Dialog-->
    <link href=" css/bootstrap-dialog.css" rel="stylesheet">

</head>

<body>
<!-- Header -->
<header id="top" class="header">
    <!-- Intro -->
    <div id="intro">
        <!-- Search bar  -->
        <div class="text-vertical-center">
            <h1><img src="js/img/net.png"></img>EVELIN</h1>
            <h3>Exploration of Event and Entity Links in Implicit
                Networks</h3>
            <div class="form-group form-horizontal">
                <!-- Input group for search  -->
                <div class="input-group" style="width: 100%; text-align: left;">
                    <select multiple  type="text" name="query" placeholder="Enter query entities..." class="form-control" autocomplete="off" id="entity-search"></select>
                    <!--<input id="searchbox" autocomplete="off" type="text" class="form-control " data-provide="typeahead">-->
                </div>


                <div class="bs-example btn-holder" role="group">

                    <span class="btn-group">
                       Search For :
                    </span>
                    <!---Person btn--->
                    <span class="btn-group">
                          <a href="/findmatch" id="btn_per" data-value="PERS" class="search-btn-group" >  <button id="graph_per" type="button"  class="btn btn-person inner"   data-toggle="tooltip" data-placement="bottom" title="Search for Actor" > ACT <img width="24px" src="js/img/person-white.png"></img></button>
                                             </a>
                    </span>
                    <!---ORG btn--->
                    <span class="btn-group">
                          <a href="/findmatch" id="btn_org" data-value="ORG" class="search-btn-group">  <button id="graph_org" type="button"  class="btn btn-org inner" data-toggle="tooltip" data-placement="bottom" title="Search for Organisation" > ORG <img width="24px" src="js/img/org-white.png"></img></button>
                                             </a>
                    </span>
                    <!---DAT btn--->
                    <span class="btn-group">
                          <a href="/findmatch" id="btn_dat" data-value="DAT" class="search-btn-group">  <button id="graph_dat" type="button"   class="btn btn-dat inner"  data-toggle="tooltip" data-placement="bottom" title="Search for Date" > DAT <img width="24px" src="js/img/date-white.png"></img></button>
                                             </a>
                    </span>
                    <!---LOC btn--->
                    <span class="btn-group">
                          <a href="/findmatch" id="btn_loc"  data-value="LOC" class="search-btn-group">  <button id="graph_loc" type="button" class="btn btn-loc inner"  data-toggle="tooltip" data-placement="bottom" title="Search for Location" > LOC <img width="24px" src="js/img/loc-white.png"></img></button>
                                             </a>
                    </span>
                    <!---TER btn--->
                    <span class="btn-group">
                          <a href="/findmatch" id="btn_ter"   data-value="TER" class="search-btn-group">  <button id="graph_ter" type="button" class="btn btn-ter inner"  data-toggle="tooltip" data-placement="bottom" title="Search for Term" > TER <img width="24px" src="js/img/term-white.png"></img></button>
                                             </a>
                    </span>
                    <!---SEN btn--->
                    <span class="btn-group">
                          <a href="/findmatch" id="btn_sen" data-value="SEN" class="search-btn-group">  <button id="graph_sen" type="button"  class="btn btn-sen inner"  data-toggle="tooltip" data-placement="bottom" title="Search for Sentence" > SEN <img  width="24px" src="js/img/sentence-white.png"></img></button>
                                             </a>
                    </span>
                    <!---PAG btn--->
                    <span class="btn-group" >
                          <a href="/findmatch" id="btn_pag" data-value="PAG" class="search-btn-group">  <button id="graph_pag" type="button" class="btn btn-pag inner" data-toggle="tooltip" data-placement="bottom" title="Search for Page" > PAG <img width="24px" src="js/img/page-white.png"></img></button>
                                             </a>
                    </span>
                    <!---Graph btn--->
                    <span class="btn-group">
                          <a href="/findgraph" id="btn_graph" >  <button id="graph_btn" type="button" class="btn btn-warning inner"  data-toggle="tooltip" data-placement="bottom" title="Search for Graph" > Graph<img width="24px" src="js/img/network.png"></img></button>
                                             </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--getting started and faq-->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center guide">
            <a href="" id="getting_started" >Getting Started</a> / <a href="" id="faq" >FAQ</a>
        </div >
    </div>
</div>
<!--footer-->
{{>footer}}

<!-- jQuery -->
<script src=" js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src=" js/bootstrap.min.js"></script>
<!-- JS file -->
<script src=" js/bootstrap-tagsinput.js"></script>
<script src=" js/bootstrap-typeahead.js"></script>
<script src=" js/bootstrap-dialog.js"></script>
<script src=" js/prog.js"></script>
<script src=" js/fingerprint.js"></script>




<script>

    $(document).ready(function() {
        var fp1 = new Fingerprint();
        alert(fp1.get());
        //---------------make tooltip available
        $('[data-toggle="tooltip"]').tooltip();

        //set the max width of the input field dynamically
        setMaxWidth();
        $( window ).bind( "resize", setMaxWidth ); //Remove this if it's not needed. It will react when window changes size.

        function setMaxWidth() {
            $( ".bootstrap-tagsinput" ).css( "maxWidth", ( $( window ).width() * 0.66  | 0 ) + "px" );
            $(".btn-holder").css( "maxWidth", ( $( window ).width() * 0.66  | 0 ) + "px" );
        }
        //---------- fill the tagsinput
        $("span.cache-items").each(function(d)
        {
            var node_id = $(this).children("input.name-id").val();
            var type = $(this).children("input.name-type").val();
            var label = $(this).children("input.name-label").val();
            $("#entity-search").tagsinput('add', {"node_id": node_id, "label": label, "type": type, "outside": true}
            );
        })
    });
</script>

</body>

</html>
